body{
    margin: 0;
    padding: 0;}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    margin: auto;
    z-index: 1;
}
#image {
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 0;
    transform: translateY(-3rem);
    z-index: 0;
}
.bank-img{
    transform: translateY(-4.5rem);
}
.input{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;

}
#signInBtn{
    background-color: white;
}
.uper-div{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.child-upperDiv{
    padding: 2.5rem;
}
.btn1{
    border: 0;
    background-color: lightgreen;
    padding:1rem 2rem;
    color: darkslategray;
    font-weight: 900;
    border-radius: 5px;
    margin-left: 1rem;
}

@media (max-width: 480px) {
    .uper-div{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .btn-bank{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .btn1{
        width:150px;
    }
}
@media (max-width: 768px) {
    .uper-div{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}
@media (max-width: 1024px) {

}
@media (max-width: 1200px) {

}
