body{
    margin: 0;
    padding: 0;}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    margin: auto;
}
.input{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;

}
#signInBtn{
    background-color: white;
}